.hide-auto-complete-original-input {
  visibility: hidden;
  position: absolute;
  top: 0px;
}

.mdz-autocomplete {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 3px;
  /* line-height: 1.23px;*/
  //padding: 5px;
}
