$header-height: 50;
$header-height-px: $header-height + px;
$header-backgorund: #525252;
$header-font-color: #fff;
$header-align-items: left;
$content-height: calc(100vh - 50px);
@import "../../../assets/scss/layouts/header-layout.scss";
@include headerlayout(
  $header-height-px,
  $header-backgorund,
  $header-font-color,
  $header-align-items
);
#page {
  display: flex;
  background-color: green;
  height: 100%;
}

.page-fixed {
  margin-top: $header-height-px;
}

#sideBar {
  min-height: 100%;
  background: #fff;
  display: block;
  position: relative;
  border-right: 1px solid #ccc;
}
.sidebar-content {
  position: static;
  background: #fff;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: 1px solid #ccc;
}
.sidebar-fixed {
  position: fixed;
  top: $header-height;
  height: $content-height;
}

#content {
  width: 100%;
  min-height: $content-height;
  background: #fff;
}
