<div class="form-group" style="width:200px;margin:150px 0 0 600px;">
  <input
    type="text"
    class="form-control form-control-sm"
    placeholder=""
    appMdzAutoSelsect
  />
</div>

<pre>
  {{ term$ }}
</pre>
<pre>
  {{ results$ | async | json }}
</pre>
<!-- <div id="header" [ngClass]="{ 'header-fixed': fixed }">
  <div id="headerContent">
    Desktop
  </div>
</div>
<div id="page" [ngClass]="{ 'page-fixed': fixed }">
  <div id="sideBar" [@openClose]="isOpen ? 'open' : 'closed'">
    <div
      class="sidebar-content"
      [ngClass]="{
        'sidebar-fixed': fixed
      }"
      [@openCloseSideBar]="isOpen ? 'openSideBar' : 'closedSideBar'"
    >
      <div style="background-color:blueviolet; width:190px">
        <ul>
          <li><i class="fa fa-home fa-lg"></i> Dashboard</li>
          <li>box 2</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="content">
    <input type="checkbox" [(ngModel)]="this.fixed" />
    <button (click)="toggle()">Press me</button>
    <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a
  </div>
</div> -->
