<div
  style="position:absolute;border:1px solid rgb(240, 219, 219);padding:5px;z-index:5000;background-color:#fff;"
  [ngStyle]="{
    left: this.options.left + 'px',
    top: this.options.top + 'px',
    width: this.options.width + 'px'
  }"
>
  <div>
    <input
      type="text"
      class="form-control form-control-sm"
      placeholder=""
      (keyup)="this.onKeyup($event)"
      autofocus
    />
  </div>
  <div
    style="overflow-y:scroll;margin-top:5px;"
    [style.height.px]="containerHeight"
  >
    <ul class="list-group" #myElement>
      <li
        class="list-group-item disabled"
        *ngFor="let item of this.data"
        (click)="clickSelection(item)"
      >
        {{ item.name }}
      </li>
    </ul>
  </div>
</div>
